<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Еженедельный обзор</title>
</head>
<body>
    <p>Здравствуйте,</p>
    <p>Вот ваш еженедельный обзор новых статей:</p>
    <ul>
        {% for article in user_articles %}
            <li>Заголовок: {{ article.title }}</li>
            <li>Содержание: {{ article.content }}</li>
        {% endfor %}
    </ul>
    <p>Спасибо, что остаетесь в курсе событий с нами!</p>
</body>
</html>